{% extends 'skills/base.html' %}
{% load static %}

{% block content %}
<h1> Моё портфолио</h1>
<div class="block">
    <div class="about_me">
        <div>
            <img src="{% static 'skills/my_photo.jpg' %}" alt="">
        </div>
        <div class="text_about">
            <p>Привет! Меня зовут Евгений, и я хочу поделиться своей историей о том, почему я принял решение перейти из
                сферы логистики в мир разработки. Мои прошлые практические навыки и опыт в логистике оказались
                невероятно полезными, но с течением времени я понял, что моя настоящая страсть лежит в программировании
                и создании технологических решений.
                Мое прошлое в логистике включало в себя широкий спектр задач и навыков. Я обладаю глубоким знанием
                программы SAP и опытом работы с системами 1C, а также уверенностью в работе с Microsoft Excel и Word.
                Опыт работы с EDI и знание особенностей работы с ЕГАИС.
                Однако, мой путь в мир разработки начал свою историю, когда я решил изучить трейдинг и инвестирование. В
                ходе этого обучения, я открыл для себя программирование как средство создания автоматизированных
                стратегий. Вскоре стало понятно, что программирование представляет для меня нечто большее, чем просто
                инструмент для инвестирования.
                Я уверен, что мой опыт и страсть в комбинации с техническим образованием позволят мне успешно
                развиваться в сфере разработки. Я готов преодолевать сложности, учиться новому и создавать современные
                решения, которые могут внести изменения в мир технологий.</p>
        </div>
    </div>
    <h2> Мой стек технологий</h2>
    <div class="steck">
        {% for skill in skills %}
        <div class="element">
            <div>
                <img src="{{ skill.image.url }}" alt="">
            </div>
            <div class="text">
                <h2><a href="{{ skill.url }}" target="_blank">{{ skill.title }}</a></h2>
                <p>{{ skill.description | slice:":50" }}...</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2>Мои проекты</h2>
    <div class="wrap_2">
        {% for project in projects %}
        <div class="element_project">
            <div>
                <img src="{{ project.image.url }}" alt="">
            </div>
            <div class="text">
                <h2><a href="{{ project.url }}" target="_blank">{{ project.title }}</a></h2>
                <p><a href="{% url 'project' project.id %}">{{ project.description | slice:":50" }}...</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}